  <div id="menu_bar">
	  <%= link_to image_tag("../images/menu_bar_01.png", :border=>0), :controller => "jobs", :action => 'index'%>
	  <%= link_to image_tag("../images/menu_bar_02.png", :border=>0), :controller => "jobs", :action => 'new'%>
	  <%= link_to image_tag("../images/menu_bar_03.png", :border=>0), :controller => "reviews", :action => 'index'%>
  </div>