<%= render :partial => "dashboard/menu_bar" %>

<br><br>
<div id="dashboard_container">
	<div id="dashboard_wrapper_watched">
		<div id="dashboard_container_watched">
			<h2>Your Watched Projects</h2>
			//list of projects you're watching
		</div>
		<div id="dashboard_shadow_watched"></div>
	</div>
	<div id="dashboard_wrapper_smartmatch">
		<div id="dashboard_container_smartmatch">
			<h2>SmartMatch Results</h2>
			Hey <%= @user.name %>, we've automatically matched your interests and skill set to these research openings.
		</div>
		<div id="dashboard_shadow_smartmatch"></div>
	</div>
</div>
<div id="dashboard_container">
	<div id="dashboard_wrapper_long">
		<div id="dashboard_container_long">
			<h2>Recently Added Projects</h2>
			<table id="browse_header_table">
				<tr>
					
					<td class="job_table_left">Title/Description</td>
					<td class="job_credit">Paid?</td>
					<td class="job_credit">Credit?</td>
					<td class="job_credit"># Positions</td>
					<td class="job_extra"></td>
					</div>
				</tr>
			</table>
			<%= render :partial => "jobs/job", :collection => @recently_added_jobs %>
		</div>
		<div id="dashboard_shadow_long"></div>
	</div>
</div>