*.rbc
*.sassc
.sass-cache
capybara-*.html
.yardoc
.bundle
cscope.*
.project
*.swp
**/*.pid
config/smtp_settings.rb
db/*.sqlite3
files/
mysql2/
log/*.log
tmp/**/*
*.project
*.sublime-project
*.sublime-workspace
.DS_Store

#ignore database.yml
config/database.yml

#ignore 500 page
app/controllers/application_controller.rb

# ignore extra dump files
*.dump