*.rbc
*.sassc
.sass-cache
capybara-*.html

.yardoc
.bundle
cscope.*
.project
*.swp
**/*.pid
config/smtp_settings.rb
db/*.sqlite3
files/
mysql2/
log/*.log
tmp/
*.project
*.sublime-project
*.sublime-workspace

#ignore database.yml
config/database.yml
