<div class="container">
<h1>Organizations
<% if @current_user.present? && @current_user.admin? -%>
<%= link_to '[New]', new_org_path -%>
<% end -%>
</h1>

<table class="table">
  <thead><tr>
    <th class="col-md-3">Name</th>
    <th class="col-md-7">Desc</th>
  </tr></thead>

<% @orgs.each do |org| %>
  <tr>
    <td><%= link_to org.name, org %></td>
    <td><%= org.desc %></td>
  </tr>
<% end %>
</table>

<br />
</div>