<% content_for :title, "Research 101" %>
<div class = "container">
	<h1>Introduction to Research</h1>
<div class = "card">

	<h2>What is research?</h2>
	<p>
		Research is a term for faculty-led projects which investigate questions about our world or solve important social and technical problems through structured scientific problem solving. Beehive lists research projects in diverse areas, ranging from studying the effects of foreign chemicals on human health, to building water recycling systems, to prototyping nanotechnology. In addition to faculty sponsored research projects, Beehive features posts from graduate students and on-campus clubs which offer similar hands-on engineering projects.
	</p>

	<h2>What do I get out of this?</h2>
	<p>
		We might be biased, but we at Beehive believe that research is a unique experience that everyone should try. You will learn an incredible amount through mentorship and hands-on experience: not only lab skills but also communication, teamwork, and problem solving. Your lab experience could spark your passion in the subject area and prompt you to continue doing research in grad school and as a career. In addition, some research positions provide more concrete compensation in the form of money or credits. Most importantly, you will have fun! Being a part of a focused group comes with camaraderie, and the experience is one that you will remember for the rest of your life.
	</p>

	<h2>What am I getting myself into?</h2>
	<p>
		As part of a research team, you could have a broad range of responsibilities. Positions could range from data assistant to programmer or even technical designer and fabricator. Primarily, you must be independently motivated to pursue challenging and unexplored technical topics in the face of many obstacles. You are expected to ask questions proactively when you run into things you don't know, and to plan your time so you are able to work consistently even when you have challenging coursework and exams. In addition, you should be able to communicate and work effectively with other members of your team, and you should be passionate about the subject you are exploring.
	</p>

	<h2>How do I get involved?</h2>
	<p>
		There are at least three ways. First, you can browse and apply to research right here on Beehive. Second, you can browse and apply through programs such as <a href="http://research.berkeley.edu/urap/">URAP</a>, <a href="http://engineering.berkeley.edu/summer-reus">summer REUs</a>, and <a href="http://engineering.berkeley.edu/research/student-research">more</a>; these tend to have a curated list of projects in a structured application process. Finally, you can browse department/lab pages by research area and email professors directly. These pages can be found through Google or through the <a href="http://vcresearch.berkeley.edu/research-units">research directory</a>.
	</p>
	<p>
		Before applying for research, make sure that you are prepared. Your chances are much higher if you have relevant experience, communicate clear goals about why you want to do research, and demonstrate that you are committed to the research project. Review your resume to make sure it lists the projects, coursework, and skills required by the project that you're applying to. We highly recommend going to an <a href="http://engineering.berkeley.edu/student-services/advising">advising session</a> as well as a resume workshop or review such as <a href="https://tbp.berkeley.edu/resume-critique/">TBP's resume critique</a>. Finally, if an interview is required, you may want to schedule a <a href="https://tbp.berkeley.edu/mock-interviews/">mock interview</a>.
	</p>
</div>
</div>