<!DOCTYPE html>

<% content_for :title, "Intro" %>
<div class = "container">
	
	<div class = "card">
	<p>
		<h2>What is research?</h2>
			Research is a term for faculty-initiated projects whose aim is to create genuine new knowledge amongst the academic community. These projects have various applications: they could be studying the effects of foreign chemicals on human health, or even designing nanotechnology. In addition to faculty sponsored research projects, Beehive features posts from graduate students and on-campus clubs who offer hands-on engineering projects. 
	</p>
	<br>

	<p>
		<h2>What am I getting myself into?</h2>
			As part of a research team, you could have a broad range of responsibilities. Positions could range from data assistant to programmer or even technical designer and fabricator. You will gain knowledge that can only be learned first-hand, outside of the classroom. You will be expected to demonstrate commitment to the project you sign up for: this includes both time and interest. Passion for the subject which you are exploring not only makes a more valuable experience, but also will improve the quality of your work and the research group in general.
	</p>
	<br>

	<p>
		<h2>What do I get out of this?</h2>
			As mentioned previously, you will gain first-hand experience working in a lab. In addition to this, research positions can be paid; you will be compensated for your work on a project, though these positions are often a larger time commitment. You can also receive credits for your involvement in research. But whether you are participating in research for money, credits, or simply to pad your resume, you will have fun! Being a part of a focused group comes with comradery, and the experience is one that you will remember for the rest of your life.
	</p>
	<br>
	</div>
</div>