<h1>Statistics</h1>

<table>
  <tr>
  </tr>
  
  <tr>
    <td>Number of applications this month</td>
    <td><%= @num_applics_this_month %></td>
  </tr>
  <tr>
    <td>Number of applications within the last month</td>
    <td><%= @num_applics_in_last_month %></td>
  </tr>
</table>

<br />

  </tr>
</table>

<br />

