- unless @job.faculties.empty?
  %p
    %b Faculty Sponsor:
    - @job.faculties.each do |f|
      = link_to f.name, :controller => "jobs", :action => "index", :params => { :faculty => f.id }
      %a{:href => "http://www.google.com/search?btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8&q=#{f.name} Berkeley #{@job.department.name}", :target => "_blank"}