<% content_for :title, "Post New Listing" %>

<div class = "row">
	<div class = "large-10 col-sm-12 columns">
		<h1>Post New Project Listing</h1>
		<%= render 'form' %>
		<br />
		<%= link_to raw('&#0171; Back to listings'), jobs_path %>
	</div>
</div>
