html, body { 
	background-color: #fff; 
	color: #333; 
	height: 100%;
	width: 100%;
}

* html #container {
	height: 100%;
	width: 100%;
}

body, p, ol, ul, td {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size:   12px;
  color: #333;
  margin: auto;
  width: 100%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h2 {
  color: #5b7f72;
  margin-top: 0px;
}

/**Layout**/

#everything{
	min-height: 100%;
	position: relative;
	width: 100%;
}

body > #everything {
	height: auto;
	min-height: 100%;
}

#header{
	background-color: #353d41;
	height: 89px;
	width: 100%;
}

#header_image{
	color: white;
	margin: auto;
	height: 89px;
	width: 1000px;
	background: url("../images/header_bg.gif") no-repeat;
}

#header_image a { 
display: block; 
height: 100%; 
width: 100%; 
}


#searchbar{
	position: relative;
	text-align: right;
	right: 0px;
	top: 20px;
}

#loginbar{
	position: relative;
	text-align: right;
	right: 0px;
	top: 10px;
	height: 30px;
}

#side{
	position: relative;
	float: right;
	right: 2em;
	top: -89px;
}

#side a{
	display: inline;
}

#header_tabs{
	background: #a7d787;
	min-width: 1000px;
	height: 17px;
}

#tabs{
	width: 1000px;
	height: 17px;
	background: url("../images/header_stripe.gif") no-repeat;
	margin: auto;
}

#menu_bar{
	text-align: center;
}

#shadowdown{
	background: url('../images/trans_down.png');
	background-repeat: x-repeat;
	height: 13px;
	min-width: 1000px;
}

#content{	
	padding: 50px;
	padding-top: 30px;
	padding-bottom: 40px;
	/*position: relative;
	top: -159px;*/
}

#contentcenter{
	width: 900px;
	margin: auto;
}

#footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;	
}

#footer_inside{
	color: gray;
	text-align: center;
	height: 40px;
}

#flash_error{
	color: #FF0000;
	background: #f9ffea;
	border: 1px solid #F0FFD2;
	padding:10px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	width: 500px;
}

#flash_notice{
	color: #339900;
	background: #f9ffea;
	border: 1px solid #F0FFD2;
	padding:10px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	width: 500px;
}

/**HOME**/

#browse_listings_menu{
	float: left;
	padding-left: 75px;
	margin-top: -10px;
	width: 200px;
	height: 30px;
	text-align: left;
}

#home_display{
	width: 898px;
	height: 203px;
}

#display_up{
	width: 898px;
	height: 144px;
	background: url("../images/research_match_display_01.png");
}

#display_left{
	position: relative;
	left: -295px;
	width: 308px;
	height: 59px;
	background: url("../images/research_match_display_02.png");
}

#display_mid{
	position: relative;
	margin-left: 308px;
	width: 254px;
	height: 59px;
	background: url("../images/research_match_display_03.png");

}

#display_right{
	width: 336px;
	height: 59px;
	background: url("../images/research_match_display_04.png");
}

/**Menu**/

#department_speech{
	display: none;
}
#department_speech_top{
	width: 163px;
	height: 32px;
	background: url("../images/research_department_speechbubble_01.png");
}

#department_speech_bot{
	width: 163px;
	height: 37px;
	background: url("../images/research_department_speechbubble_02.png");
	z-index: 10;
}

#create_job_hidden{
	display: none;
}

/**Dashboard**/

#dashboard_container{
	width: 900px;
}

#dashboard_container:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

/*smartmatch*/
#dashboard_wrapper_smartmatch{
	width: 60%;
	height: 100%;
	margin-bottom: 15px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}

#dashboard_container_smartmatch{
	height: 100%;
	padding: 15px;
	background: #E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
}

#dashboard_shadow_smartmatch{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
}

/*watched*/
#dashboard_wrapper_watched{
	float:right;
	clear: both;
	width: 37.5%;
	margin-bottom: 15px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
#dashboard_container_watched{
	padding: 15px;
	background: #E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
}

#dashboard_shadow_watched{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
	z-index: 1000;
}

/*long*/
#dashboard_wrapper_long{
	margin-bottom: 15px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
}
#dashboard_container_long{
	padding: 15px;
	background: #E5FEB4 url("../images/dashboard_box_grad.png") repeat-x bottom left;
}

#dashboard_shadow_long{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
}

/*jobs*/

span.tag {
	background-color: #eaeaea;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 0px;
}

.job_title{
	font-weight: bold;
}

.job_table {
	border: 0px;
	width: 100%;
}

.job_table_left {
	width: 50%;
}
.job_odd, .job_even {
	width: 100%;
	border-bottom: 1px solid #abe68b;
}

.job_padding_wrapper{
	vertical-align: middle;
	padding: 3px;
}

.job_credit {
	text-align: center;
	width: 10%;
}

#browse_header_table{
	height: 40px;
	width: 100%;
	font-weight: bold;
}

.job_clear_table {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	border:0px;
}
.job_clear_table td {
	text-align:left;
	width:auto;
	padding:5px;
}
#job_clear_table_label {
	width:150px;
}
#job_clear_table_field {
	width:350px;
}

/**Links**/
#header a {
	color: #abe68b;
}

a { 
	color: #65b960; 
	/* color: #abe68b; */
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
	

/**Error Formatting**/

.fieldWithErrors {
  color: red;
}

#errorExplanation {
  color: red;
}

/*#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}*/

