span.tag {
	background-color: #eaeaea;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 0px;
}

.job_title{
	font-weight: bold;
}

.job_table {
	border: 0px;
	width: 100%;
}

.job_table_left {
	width: 40%;
}
.job_odd {
	background: #F0FFD2;
	width: 100%;

}

.job_even {
	background: white;	
	width: 100%;

}

.job_padding_wrapper{
	vertical-align: middle;
	padding: 3px;
}

.job_credit {
	text-align: center;
	width: 10%;
}

#browse_results_wrapper{
	
}

#browse_results{
	/*c1c1c1*/
	border-right: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5;
}

#browse_results_shadow{
	height: 7px;
	background: url("../images/trans_down_small.png") repeat-x top left;
}

#browse_search_bar{
	text-align: center;
}

#browse_header{
	font-weight: bold;
	background: #798493;
	color: white;
	width: 100%;
	height: 40px;
}

#browse_header_table{
	height: 40px;
	width: 100%;
}