<%# Basic user application-related info
    @param user [User]
-%>

<%- raise ArgumentError.new('No User provided') unless user -%>

<div class="applic-info">
<%-
  [
    [ :name,           'Full Name'],
    [ :email,          'Email'    ],

    :separator,

    [ :year,           'Year'     ],
    [ :units,          'Units'    ],
    [ :free_hours,     'Hours/wk' ],
    [ :summer,         'Summer'   ],

    :separator,

    [ :research_blurb, 'Motivation'],
    [ :experience,     'Experience'],

    [ :url,            'URL'      ]
  ].each do |attr, label|
-%>

<%- if attr == :separator -%>
    <br/>
<%- else
    val = user.send(attr)
    val = {true=>'Yes',false=>'No'}[val] if (!!val == val) # if val is a boolean
    val = (val.nil? or val.blank?) ? '<b>Not specified</b>' : val
    val = val.to_s.html_safe
-%>

  <div>
    <span style="font-weight:bold; font-family:'Droid Sans'; font-size: 11pt"><%= label %></span>:&nbsp;
    <span style="font-family:'Droid Sans'; font-size: 11pt"><%= val %></span>
  </div>

<%- end -%>
<%- end -%>

</div>
