<div id="user-bar-greeting">
  <% if @current_user %>
    <%= @current_user.name %>. <%= link_to 'Log Out', logout_path %>
  <% else %>
    <%= link_to 'Log In', login_path, :class => 'user-bar-action' %><%= ' via CalNet' unless session[:user_id].present? %> to access our listings.
  <% end %>
</div>
