<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

<p>Full Name<br/>
<%= f.text_field :name %></p>
<br />
<p>Courses (please enter the names of your courses, separated by commas, e.g. CS194,CS61A):<br />
<%= text_field_with_auto_complete :course, :name, :value => @user.course_list_of_user, :autocomplete => "off" %>

</p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>