<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

<p>Full Name<br/>
<%= f.text_field :name %></p>
<br />
<p>Courses (please enter the names of your courses, separated by commas, e.g. CS194,CS61A):<br />
<%= f.text_area :course_names, :col => 30, :rows => 5, :value => @user.course_list_of_user %>

</p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>