<div class="row">
	<div class="col-lg-8 col-sm-12 columns">
		<h1>All students</h1>

		<table>

		<% @users.each do |user| %>
		  <tr>
		    <td><%= link_to user.name, user %></td>
		  </tr>
		<% end %>
		</table>

		<%= paginate @users %>
		<br />
	</div>
</div>