<%
  raise ArgumentError.new("No :input provided") unless linked and linked = linked.to_s
  raise ArgumentError.new("No :limit provided") unless limit
%>

<% my_id = "char-counter-#{linked.to_s.underscore}" %>

<div class="char-counter" id="<%= my_id %>">
[ ]
</div>
<script type='text/javascript'>
  charcounter(
    document.getElementById("<%= linked %>"),
    document.getElementById("<%= my_id %>"),
    <%= limit %>);
</script>
