<center>Welcome to Research Match! We're here to help match you to your perfect research position. Click below to get started!
<br>
<br><br>

<table id="Table_01" width="898" height="203" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img src="images/research_match_display_01.png" width="898" height="144" alt=""></td>
			<div id="browse_listings_menu">
			<% form_for :job, :url => { :controller => "jobs", :action => "list" } do |f| %>
				<%= select_tag(:department_select, "<option disabled>--UC Berkeley--</option><option value='0'>All Departments</option>" + options_from_collection_for_select(@departments, :id, :name),  { :onchange => "this.form.submit();"}) %>
			<% end %>
			</div>
	</tr>
	<tr>
		<td>
			<img src="images/research_match_display_02.png" width="308" height="59" alt=""></td>
		<td>
			<%= link_to image_tag("../images/research_match_display_03.png", :border=>0), :controller => "jobs", :action => 'new'%>
		</td>
		<td>
			<%= link_to image_tag("../images/research_match_display_04.png", :border=>0), :controller => "reviews", :action => 'index'%>
		</td>
	</tr>
</table>
</center>
