<% content_for :title, "Welcome" %>
<div id="home-container">
  <div class="main-top-background">
    
  </div>
  <div class="main-top">
    <div class="main-top-info">
      <div class="text-info-large">
        <span>132</span> research projects are waiting!
      </div>
      <div class="text-info-small">
        Browse projects. Apply in one click.<br>
        Join the research team!
      </div>
      <div class="explore-button">
        <% if @current_user.present? %>
          <%= link_to "EXPLORE", jobs_path %>
        <% else %>
          <%= link_to "EXPLORE", login_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row main-buttom">
    <div class="col-md-5">
      <div class="main-icons-text">
        We've made it so easy to for you to find a perfect project to join.
      </div>
      <div class="main-icons">
        
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
      <div class="smartwatch">
        <div class="title">
          SMARTWATCH
        </div>
        <div class="details">
          Can't find a project you like? <br>
          We will let you know when there's a new project in your interest.
        </div>
      </div>
      <div class="smartwatch">
        <div class="title">
          EAST APPLY
        </div>
        <div class="details">
            You can apply to many projects with your profile. <br>
            No need to haing to fill out and application each time you apply.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
