<% content_for :title, "Welcome" %>
<!-- <div style="line-height:1.62;font-size:150%;width:65%"> -->

<div class= "row">
  <div class="large-8 columns header_image">
  </div>
  <br><br><br><br><br><br><br><br>
  <div class="large-8 columns">
    <p>
      Welcome to Beehive, the College of Engineering clearinghouse for research positions, design projects, and even more creative opportunities! We help to match aspiring scholars with original investigations in a range of disciplines.
    </p> 
  </div>
</div>
<br><br><br>




<% if session[:user_id].present? %>
<div class="row">
  <div class="large-4 columns">
    <center>

    <%= link_to image_tag("dripicons/search.svg", :border=>0, :alt=>"Browse Listings"), :controller => 'jobs'%>
      <h2><a href="/jobs/search">Browse Listings</a></h2>
        <%= form_tag(:jobs, :method => "get") do %>
        <%= select_tag(:department, "<option disabled>--UC Berkeley--</option><option value='0'>All Departments</option>".html_safe + options_from_collection_for_select(@departments, :id, :name),  { :onchange => "this.form.submit();"}) %>
        <% end %>
        </center>
    </div>

    <div class="large-4 columns">
      <center>
      <%= link_to image_tag("dripicons/document-edit.svg", :border=>0, :alt=>"Post a Job Listing"), :controller => "jobs", :action => 'new'%>
    
      <h2><a href="jobs/new">Post a Job Listing</a></h2>
      </center>
    </div>

  
</div>

<br><br><br><br><br><br>




<% else %>






<br><br><br><br><br><br><br><br><br><br>

<% end %>
