<% content_for :title, "Welcome" %>
<div id="home-container">
  <div class="main-top-background">
    
  </div>
  <div class="main-top">
    <div class="main-top-info">
      <div class="text-info-large">
        <span>Research made simple.
      </div>
      <div class="text-info-small">
        Search and filter over 250 projects.<br/>
        Apply in one click.
      </div>
      <div class="explore-button">
        <% if @current_user.present? %>
          <%= link_to "EXPLORE", jobs_path %>
        <% else %>
          <%= link_to "EXPLORE", login_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row main-bottom">
    <div class="col-md-6">
      <div class="main-icons-text">
        We've made it easy to for you to find a perfect project to join.
      </div>
      <div class="main-icons">
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
      <div class="smartmatch">
        <div class="title">
          EASY APPLY
        </div>
        <div class="details">
          No need to fill out endless forms. <br/>
          Write what's relevant, and we'll take care of the rest.
        </div>
      </div>
      <div class="smartmatch">
        <div class="title">
          SMARTMATCH
        </div>
        <div class="details">
          Can't find a project you like? <br/>
          We'll let you know when a new project matches your interests.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
