<% content_for :title, "About Beehive" %>
<div class = "container">
	<h1>About Beehive</h1>

<div class = "card">
	<p>
		<b>Mission</b>: Open access to research, for everyone.
	</p>

	<p>
		<b>Vision</b>: We aim to gather all research opportunities in one place, with easy ways to browse or search for projects. In addition, we also reach out to students and faculty to encourage higher participation in research.
	</p>

	<p>
		Beehive is an open-source project sponsored by the College of Engineering, with source code available on <a href="https://github.com/ucberkeley/Beehive/">Github</a>. It was started as a CS 169 (then CS 194-4) project in Fall 2009 under Prof. Armando Fox. Students interested in design, Rails development, or faculty outreach are encouraged to <a href="/jobs/449">join our team</a>.
	</p>

	<h2>Current team</h2>
	<ul>
		<li>Alex Hong</li>
		<li>Colby Guan</li>
		<li>Jessica Lie</li>
		<li>Jack Pechac</li>
		<li>Hendo Lim</li>
		<li>Kevin Ma</li>
		<li>Sean Huang</li>
		<li><a href="http://allenzhu.com">Allen Zhu</a></li>
	</ul>

	<h2>Past members</h2>
	<ul>
		<li>Summer Kim</li>
		<li>Charles Xue</li>
		<li>Max Lam</li>
		<li>Jessica Chang</li>
		<li>Fall 2009: Oren Blasberg, Jonathan Ko, Amber Feng, Allen Chen</li>
		<li>Prof. Armando Fox</li>
	</ul>
</div>
</div>