/*
Syntax error: File to import not found or unreadable: foundation/functions.
              Load paths:
                /home/jessica/researchmatch/app/assets/scss
                /usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/blueprint/stylesheets
                /usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets
                /home/jessica/researchmatch/app/assets/bower_components/foundation/scss
                Compass::SpriteImporter
        on line 13 of /home/jessica/researchmatch/app/assets/scss/_settings.scss
        from line 1 of /home/jessica/researchmatch/app/assets/scss/app.scss

Backtrace:
/home/jessica/researchmatch/app/assets/scss/_settings.scss:13
/home/jessica/researchmatch/app/assets/scss/app.scss:1
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:45:in `import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/usr/lib/ruby/gems/1.9.1/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:95:in `block (4 levels) in perform'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:39:in `delete'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:32:in `block in deleted'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:31:in `each'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:31:in `deleted'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:16:in `refresh'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/usr/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:87:in `perform'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/bin/compass:44:in `call'
/usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/usr/local/bin/compass:19:in `load'
/usr/local/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation/functions.\A               Load paths:\A                 /home/jessica/researchmatch/app/assets/scss\A                 /usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/blueprint/stylesheets\A                 /usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets\A                 /home/jessica/researchmatch/app/assets/bower_components/foundation/scss\A                 Compass::SpriteImporter\A         on line 13 of /home/jessica/researchmatch/app/assets/scss/_settings.scss\A         from line 1 of /home/jessica/researchmatch/app/assets/scss/app.scss"; }
