/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.navbar.navbar-default {
  z-index: 10;
  a.navbar-brand {
    background: url("beehive_logo.png") no-repeat center center;
    background-size: contain;
    width: 110px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .dropdown.open {
    .dropdown-toggle {
      background-color: rgba(255, 255, 255, 0.5) !important; 
    }
  }
}

#home-page {
  .navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    li {
      a {
        color: #003366;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: small;
      }
      a.login-button {
        background-color: #003366;
        color: white;
        padding: 6px 10px 3px 10px;
        font-size: smaller;
        margin-top: 10px;
      }
    }
  }
  nav {
    background-color: transparent;
  }
}

footer, .footer {
  height: 50px;
  padding-top: 16px;
  background: #003366;
  width: 100%;
  color: white;
  padding-left: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: small;
  a {
    color: white;
  }
}

.footer {
  position: absolute;
  bottom: 0;
}

#flash_error, #flash_notice {
  color: #003060;
  background: #f9ffea;
  border: 2px solid #F0FFD2;
  padding: 10px;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  width: 500px;
}

#flash_error {
  color: #FF0000;
  background: #f9ffea;
}

/**Menu**/

#department_speech {
  display: none;
}

#department_speech_top {
  width: 163px;
  height: 32px;
  background: url("../images/research_department_speechbubble_01.png");
}

#department_speech_bot {
  width: 163px;
  height: 37px;
  background: url("../images/research_department_speechbubble_02.png");
  z-index: 10;
}

#create_job_hidden {
  display: none;
}

/**Links**/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.fieldWithErrors, #errorExplanation {
  color: red;
}

table {
  display: block;
}
