/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-material-design
 *= require dataTables/jquery.dataTables
 *= require bootstrap-datepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
$ucb-blue: #003262;

html, body{
   margin:0;
   padding:0;
   height:100%;
}

select {
  font-weight: 18px;
  width: 200px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding-left: 10px;
  border: none;
  background-color: #eee;
  border-radius: 3px;
  margin: 3px 0px 3px 0px;
}

#advanced_search {
  select {
    width: 100%;
  }
}

.page-title {
  font-size: 40px;
  margin: 15px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar.navbar-default {
  z-index: 10;
  a.navbar-brand {
    background: url("beehive_logo.png") no-repeat center center;
    background-size: contain;
    width: 120px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .dropdown.open {
    .dropdown-toggle {
      background-color: rgba(255, 255, 255, 0.5) !important; 
    }
  }
}

.navbar-nav .glyphicon {
  color: $ucb-blue;
  font-family: 'Glyphicons Halflings' !important;
}

@media screen and (min-width: 768px) {
  .navbar-nav .glyphicon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar-nav > li > a:not(.glyphicon) {
    display: none;
  }
  .navbar.navbar-default a.navbar-brand {
    background-size: 120px;
    width: 100%;
    margin: 0 auto;
  }
}

// next 4 blocks disable navbar collapsing 
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

#home-page {
  .navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    li {
      a {
        color: #003366;
        font-family: sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
      }
    }
  }
  nav {
    background-color: transparent;
  }
}

footer, .footer {
  height: 50px;
  padding-top: 16px;
  background: #003366;
  width: 100%;
  color: white;
  padding-left: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: small;
  a {
    color: white;
  }
}

/**Menu**/

#department_speech {
  display: none;
}

#department_speech_top {
  width: 163px;
  height: 32px;
  background: url("../images/research_department_speechbubble_01.png");
}

#department_speech_bot {
  width: 163px;
  height: 37px;
  background: url("../images/research_department_speechbubble_02.png");
  z-index: 10;
}

#create_job_hidden {
  display: none;
}

.hide {
  display: none;
}

/**Links**/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


.fieldWithErrors, #errorExplanation {
  color: red;
}

.navbar-header .icon-bar {
  background-color: #FFF;
}