#home-page {
	position: absolute;
  top: 0px;
  width: 100%;
}
.navbar-collapse.collapsing,
.navbar-collapse.collapse {
	border: none;
	background: rgba(255,255,255,0.7);
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.collasping {
	-webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#home-container {
	.main-top-background {
		margin-top: -100px;
		height: 450px;
		background: url("engineering.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.main-top {
		margin-top: -450px;
		height: 450px;
		background-color: rgba(255,255,255,0.5);
		width: 100%;
		.main-top-info {
			padding-top: 90px;
		}
		.text-info-large {
			text-align: center;
			margin-top: 70px;
			font-size: 35px;
			font-weight: 400;
			span {
				font-size: 1.2em;
			}
		}
		.text-info-small {
			text-align: center;
			font-size: 23px;
			font-weight: 200;		
		}
		.explore-button {
			margin-top: 40px;
			text-align: center;
			a {
				background: #003366;
				color: white;
				padding: 13px 23px 13px 23px;
				font-weight: 400;
				letter-spacing: 2px;
			}
		}
	}

	.main-buttom {
		.main-icons-text {
			margin: 50px 50px 20px 50px;
			text-align: center;
			font-size: 18px;
			font-weight: 200;
		}
		.main-icons {
			background: url("main_icons.png") no-repeat center center;
			background-size: contain;
			height: 140px;
			margin-bottom: 50px;
		}
		.smartmatch {
			margin-top: 50px;
			.title {
				color: #003366;
				font-weight: 600;
				font-size: 18px;
				text-align: center;				
			}
			.details {
				font-weight: 200;
				text-align: center;
				margin-top: 10px;
				font-size: 16px
			}
		}
		.col-md-7 {
			margin-bottom: 50px;
		}
	}
}