#fields_faculty {
    display: none;
}

#signup_fields div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.left_col {
  float: left;
}

.right_col {
  float: right
}

.container.user-profile {
  h2 {
    margin-bottom: 30px;
  }
}