<p>Hi, <%= @job.user.name %></p>

<p>You job post <%= link_to @job.title, ROOT_URL + edit_job_path(@job) %> will expire in three days. If you have hired enough students you want, please close the listing. Otherwise please update <strong>Latest Start Date</strong> field to extend your post. Thanks </p>

<p><a href="http://beehive.berkeley.edu/">Beehive</a></p>